.projects-bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color:#e4f7ff;
}
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #ffffff !important;
    border-radius: 25px;
    margin: 20px;
    /* padding: 20px; */
}
.description-container{
 margin: 20px;
 font-size: 20px;
 width: 50%;
}
.pro-name{
    font-size: 40px;
    margin-bottom: 10px;

}
.pro-image{
    /* height: 300px;
    width: 300px; */
    height: 100%;
    width: 50%;
    /* border-radius: 25px; */
    /* margin-bottom: 10px; */
}
.pro-description{
    font-size: 15px;
    margin-bottom: 10px;
}
.projects-title{
  font-size: 40px;
}
.view-project-button{
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    width: 140px;
    height: 40px;
}
.even-project {
    display: flex;
    justify-content: space-between;
  }
  
  .odd-project {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  @media screen and (max-width: 768px) {
    .project-section {
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
    }
  
    .pro-description {
      margin-left: 20px;
      flex-grow: 1;
      
    }
  .description-container{
    order: 1;
  }
    .pro-image {
      margin-top: 0;
      width: 100%;
      order: 0;
      
    }
    .projects-title{
      font-size: 24px;
    }
  }